{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>Navbar Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'acc/dist/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="navbar.css" rel="stylesheet">
</head>

<body>
  <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
  <div class="wrapper">

    {% include 'navbar.html' %}

    {% block content %}

    {% endblock%}

  </div>




  <!-- Bootstrap core JavaScript
        ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>

  <script>window.jQuery || document.write('<script src="{% static "acc/dist/css/bootstrap.min.css" %}acc/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="{% static 'acc/assets/js/vendor/popper.min.js' %}"></script>
  <script src="{% static 'acc/dist/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'acc/assets/js/vendor/jquery-slim.min.js' %}"></script>
</body>

</html>